body {
    font-family: var(--vanillalm-font-family);
    color: var(--vanillalm-color);
    background-color: var(--vanillalm-background-color);
}
h1 {
    margin-top: 0px;
}

#sourcecode {
    width: calc(100% - 20px);
    min-height: 100px;
    margin: 10px;
}

.outputs {
    display: flex;
}
.outputs > * {
    width: calc(50% - 20px);
    min-height: 100px;
    margin: 10px;
    border: thin solid grey;
}


#success {
    display: none;
    font-size: 2em;
    background-color: yellow;
}